<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </button>
        <a href="{{permalink.publicRoot}}" class="navbar-brand">wattydev.com</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                {{#link-to 'index'}}<i class="fa fa-home"></i>Dashboard{{/link-to}}
            </li>
            <li>
                {{#link-to 'posts'}}<i class="fa fa-files-o"></i>Posts{{/link-to}}
            </li>
            <li>
                {{#link-to 'images'}}<i class="fa fa-file-image-o"></i>Images{{/link-to}}
            </li>
            <li>
                {{#link-to 'types'}}<i class="fa fa-folder-o"></i>Types{{/link-to}}
            </li>
            <li>
                {{#link-to 'tags'}}<i class="fa fa-tags"></i>Tags{{/link-to}}
            </li>
            <li>
                <a {{action 'signOut'}}><i class="fa fa-sign-out"></i>Sign Out</a>
            </li>
      </ul>
    </div>
</div>
