<div class="container">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-sm-6">
            {{index/recent-posts posts=model.posts}}
        </div>
        <div class="col-sm-6">
            {{index/recent-images images=model.images}}
        </div>
    </div>
</div>
