* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  font-size: 16px;
  color: #fff;
  padding-top: 30px;
}
small {
  font-size: 12px;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: .2s transform;
}
a:hover {
  transform: scale(1.2);
}
h1 {
  font-family: 'Architects Daughter', sans-serif;
  font-size: 42px;
  margin: 5px 0 10px;
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 27px;
  }
}
.pull-right {
  float: right;
}
textarea {
  resize: vertical;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.form-group {
  margin-bottom: 10px;
}
.form-group label {
  display: block;
  width: 100%;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
  color: #fff;
  font-family: 'Architects Daughter', sans-serif;
}
.form-group textarea {
  min-height: 200px;
}
.btn {
  padding: 5px;
  font-family: 'Architects Daughter', sans-serif;
  background: none;
  border: 1px solid;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  transition: .2s transform;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.2);
}
.btn.btn-default {
  border-color: #fff;
}
body.modal-open {
  overflow: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 7px 15px;
  background: #231F20;
  z-index: 100;
}
header .contact-links {
  float: right;
  font-family: 'Architects Daughter', sans-serif;
}
header .contact-links a {
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 5px;
}
header .contact-links .mail-svg {
  max-width: 70%;
  max-height: 100%;
  stroke-width: 2px;
  position: relative;
  top: -2px;
  overflow: visible;
  fill: none;
}
header .contact-links .github-svg {
  max-height: 74%;
  stroke-width: 2px;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
section.gray {
  background: #231F20;
}
section.blue {
  background: #00AEEF;
}
section {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding: 40px 15px;
}
.contact-form {
  z-index: 150;
  position: absolute;
  top: 10%;
  width: 100%;
  display: none;
  opacity: 0;
  transition: .3s opacity;
}
.contact-form.in {
  display: block;
}
.contact-form.visible {
  opacity: 1;
}
.contact-form .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: .4;
  z-index: 150;
}
.contact-form .modal {
  z-index: 151;
  background: #231F20;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #000;
  transition: .2s transform;
}
.contact-form .modal-close {
  position: absolute;
  top: 5px;
  right: 7px;
  padding: 3px;
  cursor: pointer;
  transition: .2s transform;
}
.contact-form .modal-close:hover {
  transform: scale(1.2);
}
.contact-form .messages span {
  display: none;
}
.contact-form .messages .error {
  border: 1px solid #C10404;
  color: #C10404;
  padding: 10px;
  border-radius: 5px;
}
.contact-form .messages .error a {
  color: #C10404;
}
.contact-form.loading .messages .loading {
  display: block;
  text-align: center;
}
.contact-form.failed .messages .error {
  display: block;
}
.contact-form .success {
  display: none;
  z-index: 151;
  background: #1D7521;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #000;
}
.contact-form.sent .success {
  display: block;
}
.contact-form.sent .modal {
  transform: translateX(100vw) translateY(-100vh) rotateZ(720deg);
}
.home {
  font-family: 'Architects Daughter', cursive;
  font-size: 21px;
}
.home .about-section .container {
  height: 429px;
}
@media screen and (max-width: 900px) {
  .home .about-section .container {
    height: auto;
  }
}
.home .about-section .about-svg {
  width: 456px;
  position: absolute;
  bottom: -16px;
  left: -92px;
}
.home .about-section .about-svg .left-pupil,
.home .about-section .about-svg .right-pupil {
  transition: .1s transform;
}
.home .about-section .about-svg .eye-lid {
  transform: translateY(10px);
  transition: .1s transform;
}
@media screen and (max-width: 900px) {
  .home .about-section .about-svg {
    width: 50%;
    position: relative;
    bottom: auto;
    left: auto;
    float: left;
    magin-left: 2%;
  }
}
@media screen and (max-width: 600px) {
  .home .about-section .about-svg {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -200px;
    width: 400px;
  }
}
.home .about-section article {
  position: relative;
  float: right;
  width: 60%;
}
@media screen and (max-width: 900px) {
  .home .about-section article {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .home .about-section article {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    float: none;
    padding-top: 60px;
  }
}
.home .about-section article h1 {
  padding-left: 115px;
}
@media screen and (max-width: 900px) {
  .home .about-section article h1 {
    padding: 0;
    margin: 17px 0 30px;
  }
}
@media screen and (max-width: 600px) {
  .home .about-section article h1 {
    text-align: center;
    margin: 0 0 322px;
  }
}
.home .about-section article .arrow-svg {
  position: absolute;
  top: 26px;
  left: -100px;
  width: 200px;
}
@media screen and (max-width: 900px) {
  .home .about-section article .arrow-svg {
    display: none;
  }
}
.home .portfolio-section .projects-svg {
  position: absolute;
  top: 21%;
  right: -10%;
  height: 300px;
}
.home .portfolio-section .projects-svg .projects-cursor {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 900px) {
  .home .portfolio-section .projects-svg {
    display: none;
  }
}
.home .portfolio-section .post-list {
  width: 59%;
}
@media screen and (max-width: 900px) {
  .home .portfolio-section .post-list {
    width: 100%;
  }
}
.home .blog-section article {
  float: right;
  width: 65%;
  min-height: 346px;
}
@media screen and (max-width: 900px) {
  .home .blog-section article {
    width: 100%;
  }
}
.home .blog-section .post-list {
  float: right;
  width: 95%;
}
@media screen and (max-width: 900px) {
  .home .blog-section .post-list {
    width: 100%;
  }
}
.home .blog-section .blog-svg {
  width: 40%;
  position: absolute;
  top: -20px;
  left: -70px;
}
.home .blog-section .blog-svg .blog-dot-1 {
  animation-name: fadeInOut;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.home .blog-section .blog-svg .blog-dot-2 {
  animation-name: fadeInOut;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: .5s;
}
.home .blog-section .blog-svg .blog-dot-3 {
  animation-name: fadeInOut;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@media screen and (max-width: 900px) {
  .home .blog-section .blog-svg {
    display: none;
  }
}
.home .post-list {
  display: block;
  list-style: none;
  margin: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 346px;
  padding: 0px;
  text-align: center;
}
.home .post-list li {
  display: inline-block;
  overflow: hidden;
  height: 120px;
  width: 136px;
  background-size: contain;
  background-position: center;
  margin: 5px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}
.tooltip {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  max-width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  z-index: 200;
  display: none;
  pointer-events: none;
  box-shadow: 3px 3px 3px #231F20;
}
.tooltip:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.post section {
  width: 50vw;
  min-height: calc(100vh - 30px);
}
.post .container {
  width: 100%;
  max-width: 600px;
}
.post .preview {
  float: left;
}
.post .preview .container {
  float: right;
}
.post .preview iframe {
  margin: 0 auto;
  display: block;
  border: 2px solid #231F20;
  border-radius: 2px;
}
.post .content {
  float: right;
}
.post .content .container {
  float: left;
}
.about-svg .st0 {
  fill: #FEE9B1;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.about-svg .st1 {
  fill: #FFFFFF;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.about-svg .st2 {
  fill: #231F20;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.about-svg .st3 {
  fill: #231F20;
}
.about-svg .st4 {
  fill: #FEE9B1;
}
.about-svg .st5 {
  fill: #B18C2F;
}
.about-svg .st6 {
  fill: #414042;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.about-svg .st7 {
  fill: #FFFFFF;
}
.about-svg .st8 {
  fill: #D1D3D4;
}
.about-svg .st9 {
  fill: #808285;
}
.about-svg .st10 {
  fill: #302E2F;
}
.about-svg .st11 {
  fill: #303539;
}
.about-svg .st12 {
  fill: #8C8E90;
}
.about-svg .st13 {
  fill: #00638A;
}
.arrow-svg .st0 {
  fill: #FEE9B1;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.arrow-svg .st1 {
  fill: #FFFFFF;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.arrow-svg .st2 {
  fill: #231F20;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.arrow-svg .st3 {
  fill: #231F20;
}
.arrow-svg .st4 {
  fill: #FEE9B1;
}
.arrow-svg .st5 {
  fill: #B18C2F;
}
.arrow-svg .st6 {
  fill: #414042;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.arrow-svg .st7 {
  fill: #FFFFFF;
}
.arrow-svg .st8 {
  fill: #D1D3D4;
}
.arrow-svg .st9 {
  fill: #808285;
}
.arrow-svg .st10 {
  fill: #302E2F;
}
.arrow-svg .st11 {
  fill: #303539;
}
.arrow-svg .st12 {
  fill: #8C8E90;
}
.arrow-svg .st13 {
  fill: #00638A;
}
.arrow-svg .st14 {
  fill: #231F20;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.arrow-svg .st15 {
  fill: #A7A9AC;
}
.arrow-svg .st16 {
  filter: url(#Adobe_OpacityMaskFilter);
}
.arrow-svg .st17 {
  mask: url(#SVGID_1_);
}
.arrow-svg .st18 {
  fill: #2AACE3;
}
.arrow-svg .st19 {
  fill: #00AEEF;
}
.arrow-svg .st20 {
  filter: url(#Adobe_OpacityMaskFilter_1_);
}
.arrow-svg .st21 {
  filter: url(#Adobe_OpacityMaskFilter_2_);
}
.arrow-svg .st22 {
  filter: url(#Adobe_OpacityMaskFilter_3_);
}
.arrow-svg .st23 {
  filter: url(#Adobe_OpacityMaskFilter_4_);
}
.arrow-svg .st24 {
  filter: url(#Adobe_OpacityMaskFilter_5_);
}
.arrow-svg .st25 {
  filter: url(#Adobe_OpacityMaskFilter_6_);
}
.arrow-svg .st26 {
  filter: url(#Adobe_OpacityMaskFilter_7_);
}
.arrow-svg .st27 {
  filter: url(#Adobe_OpacityMaskFilter_8_);
}
.arrow-svg .st28 {
  filter: url(#Adobe_OpacityMaskFilter_9_);
}
.arrow-svg .st29 {
  filter: url(#Adobe_OpacityMaskFilter_10_);
}
.arrow-svg .st30 {
  fill: #6D6E71;
}
.arrow-svg .st31 {
  filter: url(#Adobe_OpacityMaskFilter_11_);
}
.arrow-svg .st32 {
  mask: url(#SVGID_10_);
}
.arrow-svg .st33 {
  filter: url(#Adobe_OpacityMaskFilter_12_);
}
.arrow-svg .st34 {
  filter: url(#Adobe_OpacityMaskFilter_13_);
}
.arrow-svg .st35 {
  filter: url(#Adobe_OpacityMaskFilter_14_);
}
.arrow-svg .st36 {
  filter: url(#Adobe_OpacityMaskFilter_15_);
}
.arrow-svg .st37 {
  filter: url(#Adobe_OpacityMaskFilter_16_);
}
.arrow-svg .st38 {
  filter: url(#Adobe_OpacityMaskFilter_17_);
}
.arrow-svg .st39 {
  filter: url(#Adobe_OpacityMaskFilter_18_);
}
.arrow-svg .st40 {
  filter: url(#Adobe_OpacityMaskFilter_19_);
}
.arrow-svg .st41 {
  filter: url(#Adobe_OpacityMaskFilter_20_);
}
.arrow-svg .st42 {
  filter: url(#Adobe_OpacityMaskFilter_21_);
}
.arrow-svg .st43 {
  mask: url(#SVGID_19_);
}
.arrow-svg .st44 {
  filter: url(#Adobe_OpacityMaskFilter_22_);
}
.arrow-svg .st45 {
  mask: url(#SVGID_20_);
}
.arrow-svg .st46 {
  filter: url(#Adobe_OpacityMaskFilter_23_);
}
.arrow-svg .st47 {
  mask: url(#SVGID_21_);
}
.arrow-svg .st48 {
  filter: url(#Adobe_OpacityMaskFilter_24_);
}
.arrow-svg .st49 {
  mask: url(#SVGID_22_);
}
.arrow-svg .st50 {
  filter: url(#Adobe_OpacityMaskFilter_25_);
}
.arrow-svg .st51 {
  filter: url(#Adobe_OpacityMaskFilter_26_);
}
.arrow-svg .st52 {
  filter: url(#Adobe_OpacityMaskFilter_27_);
}
.arrow-svg .st53 {
  filter: url(#Adobe_OpacityMaskFilter_28_);
}
.arrow-svg .st54 {
  filter: url(#Adobe_OpacityMaskFilter_29_);
}
.arrow-svg .st55 {
  filter: url(#Adobe_OpacityMaskFilter_30_);
}
.arrow-svg .st56 {
  filter: url(#Adobe_OpacityMaskFilter_31_);
}
.arrow-svg .st57 {
  filter: url(#Adobe_OpacityMaskFilter_32_);
}
.arrow-svg .st58 {
  filter: url(#Adobe_OpacityMaskFilter_33_);
}
.arrow-svg .st59 {
  filter: url(#Adobe_OpacityMaskFilter_34_);
}
.arrow-svg .st60 {
  filter: url(#Adobe_OpacityMaskFilter_35_);
}
.arrow-svg .st61 {
  mask: url(#SVGID_31_);
}
.arrow-svg .st62 {
  filter: url(#Adobe_OpacityMaskFilter_36_);
}
.arrow-svg .st63 {
  filter: url(#Adobe_OpacityMaskFilter_37_);
}
.arrow-svg .st64 {
  filter: url(#Adobe_OpacityMaskFilter_38_);
}
.arrow-svg .st65 {
  filter: url(#Adobe_OpacityMaskFilter_39_);
}
.arrow-svg .st66 {
  filter: url(#Adobe_OpacityMaskFilter_40_);
}
.arrow-svg .st67 {
  filter: url(#Adobe_OpacityMaskFilter_41_);
}
.arrow-svg .st68 {
  filter: url(#Adobe_OpacityMaskFilter_42_);
}
.arrow-svg .st69 {
  filter: url(#Adobe_OpacityMaskFilter_43_);
}
.arrow-svg .st70 {
  filter: url(#Adobe_OpacityMaskFilter_44_);
}
.arrow-svg .st71 {
  filter: url(#Adobe_OpacityMaskFilter_45_);
}
.arrow-svg .st72 {
  mask: url(#SVGID_40_);
}
.arrow-svg .st73 {
  filter: url(#Adobe_OpacityMaskFilter_46_);
}
.arrow-svg .st74 {
  filter: url(#Adobe_OpacityMaskFilter_47_);
}
.arrow-svg .st75 {
  filter: url(#Adobe_OpacityMaskFilter_48_);
}
.arrow-svg .st76 {
  filter: url(#Adobe_OpacityMaskFilter_49_);
}
.arrow-svg .st77 {
  filter: url(#Adobe_OpacityMaskFilter_50_);
}
.arrow-svg .st78 {
  filter: url(#Adobe_OpacityMaskFilter_51_);
}
.arrow-svg .st79 {
  filter: url(#Adobe_OpacityMaskFilter_52_);
}
.arrow-svg .st80 {
  filter: url(#Adobe_OpacityMaskFilter_53_);
}
.arrow-svg .st81 {
  filter: url(#Adobe_OpacityMaskFilter_54_);
}
.arrow-svg .st82 {
  filter: url(#Adobe_OpacityMaskFilter_55_);
}
.arrow-svg .st83 {
  filter: url(#Adobe_OpacityMaskFilter_56_);
}
.arrow-svg .st84 {
  mask: url(#SVGID_49_);
}
.arrow-svg .st85 {
  filter: url(#Adobe_OpacityMaskFilter_57_);
}
.arrow-svg .st86 {
  filter: url(#Adobe_OpacityMaskFilter_58_);
}
.arrow-svg .st87 {
  filter: url(#Adobe_OpacityMaskFilter_59_);
}
.arrow-svg .st88 {
  filter: url(#Adobe_OpacityMaskFilter_60_);
}
.arrow-svg .st89 {
  filter: url(#Adobe_OpacityMaskFilter_61_);
}
.arrow-svg .st90 {
  filter: url(#Adobe_OpacityMaskFilter_62_);
}
.arrow-svg .st91 {
  filter: url(#Adobe_OpacityMaskFilter_63_);
}
.arrow-svg .st92 {
  filter: url(#Adobe_OpacityMaskFilter_64_);
}
.arrow-svg .st93 {
  filter: url(#Adobe_OpacityMaskFilter_65_);
}
.arrow-svg .st94 {
  filter: url(#Adobe_OpacityMaskFilter_66_);
}
.arrow-svg .st95 {
  mask: url(#SVGID_58_);
}
.arrow-svg .st96 {
  filter: url(#Adobe_OpacityMaskFilter_67_);
}
.arrow-svg .st97 {
  filter: url(#Adobe_OpacityMaskFilter_68_);
}
.arrow-svg .st98 {
  filter: url(#Adobe_OpacityMaskFilter_69_);
}
.arrow-svg .st99 {
  filter: url(#Adobe_OpacityMaskFilter_70_);
}
.arrow-svg .st100 {
  filter: url(#Adobe_OpacityMaskFilter_71_);
}
.arrow-svg .st101 {
  filter: url(#Adobe_OpacityMaskFilter_72_);
}
.arrow-svg .st102 {
  filter: url(#Adobe_OpacityMaskFilter_73_);
}
.arrow-svg .st103 {
  filter: url(#Adobe_OpacityMaskFilter_74_);
}
.arrow-svg .st104 {
  filter: url(#Adobe_OpacityMaskFilter_75_);
}
.arrow-svg .st105 {
  mask: url(#SVGID_65_);
}
.arrow-svg .st106 {
  filter: url(#Adobe_OpacityMaskFilter_76_);
}
.arrow-svg .st107 {
  filter: url(#Adobe_OpacityMaskFilter_77_);
}
.arrow-svg .st108 {
  filter: url(#Adobe_OpacityMaskFilter_78_);
}
.arrow-svg .st109 {
  filter: url(#Adobe_OpacityMaskFilter_79_);
}
.arrow-svg .st110 {
  filter: url(#Adobe_OpacityMaskFilter_80_);
}
.arrow-svg .st111 {
  filter: url(#Adobe_OpacityMaskFilter_81_);
}
.arrow-svg .st112 {
  filter: url(#Adobe_OpacityMaskFilter_82_);
}
.blog-svg .st0 {
  fill: #FEE9B1;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.blog-svg .st1 {
  fill: #FFFFFF;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.blog-svg .st2 {
  fill: #231F20;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.blog-svg .st3 {
  fill: #231F20;
}
.blog-svg .st4 {
  fill: #FEE9B1;
}
.blog-svg .st5 {
  fill: #B18C2F;
}
.blog-svg .st6 {
  fill: #414042;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.blog-svg .st7 {
  fill: #FFFFFF;
}
.blog-svg .st8 {
  fill: #D1D3D4;
}
.blog-svg .st9 {
  fill: #808285;
}
.blog-svg .st10 {
  fill: #302E2F;
}
.blog-svg .st11 {
  fill: #303539;
}
.blog-svg .st12 {
  fill: #8C8E90;
}
.blog-svg .st13 {
  fill: #00AEEF;
}
.mail-svg .st0 {
  fill: #FEE9B1;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.mail-svg .st1 {
  fill: #FFFFFF;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.mail-svg .st2 {
  fill: #231F20;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.mail-svg .st3 {
  fill: #231F20;
}
.mail-svg .st4 {
  fill: #FEE9B1;
}
.mail-svg .st5 {
  fill: #B18C2F;
}
.mail-svg .st6 {
  fill: #414042;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.mail-svg .st7 {
  fill: #FFFFFF;
}
.mail-svg .st8 {
  fill: #D1D3D4;
}
.mail-svg .st9 {
  fill: #808285;
}
.mail-svg .st10 {
  fill: #302E2F;
}
.mail-svg .st11 {
  fill: #303539;
}
.mail-svg .st12 {
  fill: #8C8E90;
}
.mail-svg .st13 {
  fill: #00638A;
}
.mail-svg .st14 {
  fill: #231F20;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.mail-svg .st15 {
  fill: #A7A9AC;
}
.mail-svg .st16 {
  filter: url(#Adobe_OpacityMaskFilter);
}
.mail-svg .st17 {
  mask: url(#SVGID_1_);
}
.mail-svg .st18 {
  fill: #2AACE3;
}
.mail-svg .st19 {
  fill: #00AEEF;
}
.mail-svg .st20 {
  filter: url(#Adobe_OpacityMaskFilter_1_);
}
.mail-svg .st21 {
  filter: url(#Adobe_OpacityMaskFilter_2_);
}
.mail-svg .st22 {
  filter: url(#Adobe_OpacityMaskFilter_3_);
}
.mail-svg .st23 {
  filter: url(#Adobe_OpacityMaskFilter_4_);
}
.mail-svg .st24 {
  filter: url(#Adobe_OpacityMaskFilter_5_);
}
.mail-svg .st25 {
  filter: url(#Adobe_OpacityMaskFilter_6_);
}
.mail-svg .st26 {
  filter: url(#Adobe_OpacityMaskFilter_7_);
}
.mail-svg .st27 {
  filter: url(#Adobe_OpacityMaskFilter_8_);
}
.mail-svg .st28 {
  filter: url(#Adobe_OpacityMaskFilter_9_);
}
.mail-svg .st29 {
  filter: url(#Adobe_OpacityMaskFilter_10_);
}
.mail-svg .st30 {
  fill: #6D6E71;
}
.mail-svg .st31 {
  filter: url(#Adobe_OpacityMaskFilter_11_);
}
.mail-svg .st32 {
  mask: url(#SVGID_10_);
}
.mail-svg .st33 {
  filter: url(#Adobe_OpacityMaskFilter_12_);
}
.mail-svg .st34 {
  filter: url(#Adobe_OpacityMaskFilter_13_);
}
.mail-svg .st35 {
  filter: url(#Adobe_OpacityMaskFilter_14_);
}
.mail-svg .st36 {
  filter: url(#Adobe_OpacityMaskFilter_15_);
}
.mail-svg .st37 {
  filter: url(#Adobe_OpacityMaskFilter_16_);
}
.mail-svg .st38 {
  filter: url(#Adobe_OpacityMaskFilter_17_);
}
.mail-svg .st39 {
  filter: url(#Adobe_OpacityMaskFilter_18_);
}
.mail-svg .st40 {
  filter: url(#Adobe_OpacityMaskFilter_19_);
}
.mail-svg .st41 {
  filter: url(#Adobe_OpacityMaskFilter_20_);
}
.mail-svg .st42 {
  filter: url(#Adobe_OpacityMaskFilter_21_);
}
.mail-svg .st43 {
  mask: url(#SVGID_19_);
}
.mail-svg .st44 {
  filter: url(#Adobe_OpacityMaskFilter_22_);
}
.mail-svg .st45 {
  mask: url(#SVGID_20_);
}
.mail-svg .st46 {
  filter: url(#Adobe_OpacityMaskFilter_23_);
}
.mail-svg .st47 {
  mask: url(#SVGID_21_);
}
.mail-svg .st48 {
  filter: url(#Adobe_OpacityMaskFilter_24_);
}
.mail-svg .st49 {
  mask: url(#SVGID_22_);
}
.mail-svg .st50 {
  filter: url(#Adobe_OpacityMaskFilter_25_);
}
.mail-svg .st51 {
  filter: url(#Adobe_OpacityMaskFilter_26_);
}
.mail-svg .st52 {
  filter: url(#Adobe_OpacityMaskFilter_27_);
}
.mail-svg .st53 {
  filter: url(#Adobe_OpacityMaskFilter_28_);
}
.mail-svg .st54 {
  filter: url(#Adobe_OpacityMaskFilter_29_);
}
.mail-svg .st55 {
  filter: url(#Adobe_OpacityMaskFilter_30_);
}
.mail-svg .st56 {
  filter: url(#Adobe_OpacityMaskFilter_31_);
}
.mail-svg .st57 {
  filter: url(#Adobe_OpacityMaskFilter_32_);
}
.mail-svg .st58 {
  filter: url(#Adobe_OpacityMaskFilter_33_);
}
.mail-svg .st59 {
  filter: url(#Adobe_OpacityMaskFilter_34_);
}
.mail-svg .st60 {
  filter: url(#Adobe_OpacityMaskFilter_35_);
}
.mail-svg .st61 {
  mask: url(#SVGID_31_);
}
.mail-svg .st62 {
  filter: url(#Adobe_OpacityMaskFilter_36_);
}
.mail-svg .st63 {
  filter: url(#Adobe_OpacityMaskFilter_37_);
}
.mail-svg .st64 {
  filter: url(#Adobe_OpacityMaskFilter_38_);
}
.mail-svg .st65 {
  filter: url(#Adobe_OpacityMaskFilter_39_);
}
.mail-svg .st66 {
  filter: url(#Adobe_OpacityMaskFilter_40_);
}
.mail-svg .st67 {
  filter: url(#Adobe_OpacityMaskFilter_41_);
}
.mail-svg .st68 {
  filter: url(#Adobe_OpacityMaskFilter_42_);
}
.mail-svg .st69 {
  filter: url(#Adobe_OpacityMaskFilter_43_);
}
.mail-svg .st70 {
  filter: url(#Adobe_OpacityMaskFilter_44_);
}
.mail-svg .st71 {
  filter: url(#Adobe_OpacityMaskFilter_45_);
}
.mail-svg .st72 {
  mask: url(#SVGID_40_);
}
.mail-svg .st73 {
  filter: url(#Adobe_OpacityMaskFilter_46_);
}
.mail-svg .st74 {
  filter: url(#Adobe_OpacityMaskFilter_47_);
}
.mail-svg .st75 {
  filter: url(#Adobe_OpacityMaskFilter_48_);
}
.mail-svg .st76 {
  filter: url(#Adobe_OpacityMaskFilter_49_);
}
.mail-svg .st77 {
  filter: url(#Adobe_OpacityMaskFilter_50_);
}
.mail-svg .st78 {
  filter: url(#Adobe_OpacityMaskFilter_51_);
}
.mail-svg .st79 {
  filter: url(#Adobe_OpacityMaskFilter_52_);
}
.mail-svg .st80 {
  filter: url(#Adobe_OpacityMaskFilter_53_);
}
.mail-svg .st81 {
  filter: url(#Adobe_OpacityMaskFilter_54_);
}
.mail-svg .st82 {
  filter: url(#Adobe_OpacityMaskFilter_55_);
}
.mail-svg .st83 {
  filter: url(#Adobe_OpacityMaskFilter_56_);
}
.mail-svg .st84 {
  mask: url(#SVGID_49_);
}
.mail-svg .st85 {
  filter: url(#Adobe_OpacityMaskFilter_57_);
}
.mail-svg .st86 {
  filter: url(#Adobe_OpacityMaskFilter_58_);
}
.mail-svg .st87 {
  filter: url(#Adobe_OpacityMaskFilter_59_);
}
.mail-svg .st88 {
  filter: url(#Adobe_OpacityMaskFilter_60_);
}
.mail-svg .st89 {
  filter: url(#Adobe_OpacityMaskFilter_61_);
}
.mail-svg .st90 {
  filter: url(#Adobe_OpacityMaskFilter_62_);
}
.mail-svg .st91 {
  filter: url(#Adobe_OpacityMaskFilter_63_);
}
.mail-svg .st92 {
  filter: url(#Adobe_OpacityMaskFilter_64_);
}
.mail-svg .st93 {
  filter: url(#Adobe_OpacityMaskFilter_65_);
}
.mail-svg .st94 {
  filter: url(#Adobe_OpacityMaskFilter_66_);
}
.mail-svg .st95 {
  mask: url(#SVGID_58_);
}
.mail-svg .st96 {
  filter: url(#Adobe_OpacityMaskFilter_67_);
}
.mail-svg .st97 {
  filter: url(#Adobe_OpacityMaskFilter_68_);
}
.mail-svg .st98 {
  filter: url(#Adobe_OpacityMaskFilter_69_);
}
.mail-svg .st99 {
  filter: url(#Adobe_OpacityMaskFilter_70_);
}
.mail-svg .st100 {
  filter: url(#Adobe_OpacityMaskFilter_71_);
}
.mail-svg .st101 {
  filter: url(#Adobe_OpacityMaskFilter_72_);
}
.mail-svg .st102 {
  filter: url(#Adobe_OpacityMaskFilter_73_);
}
.mail-svg .st103 {
  filter: url(#Adobe_OpacityMaskFilter_74_);
}
.mail-svg .st104 {
  filter: url(#Adobe_OpacityMaskFilter_75_);
}
.mail-svg .st105 {
  mask: url(#SVGID_65_);
}
.mail-svg .st106 {
  filter: url(#Adobe_OpacityMaskFilter_76_);
}
.mail-svg .st107 {
  filter: url(#Adobe_OpacityMaskFilter_77_);
}
.mail-svg .st108 {
  filter: url(#Adobe_OpacityMaskFilter_78_);
}
.mail-svg .st109 {
  filter: url(#Adobe_OpacityMaskFilter_79_);
}
.mail-svg .st110 {
  filter: url(#Adobe_OpacityMaskFilter_80_);
}
.mail-svg .st111 {
  filter: url(#Adobe_OpacityMaskFilter_81_);
}
.mail-svg .st112 {
  filter: url(#Adobe_OpacityMaskFilter_82_);
}
.projects-svg .st0 {
  fill: #FEE9B1;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.projects-svg .st1 {
  fill: #FFFFFF;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.projects-svg .st2 {
  fill: #231F20;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.projects-svg .st3 {
  fill: #231F20;
}
.projects-svg .st4 {
  fill: #FEE9B1;
}
.projects-svg .st5 {
  fill: #B18C2F;
}
.projects-svg .st6 {
  fill: #414042;
  stroke: #231F20;
  stroke-miterlimit: 10;
}
.projects-svg .st7 {
  fill: #FFFFFF;
}
.projects-svg .st8 {
  font-family: 'MyriadPro-Regular';
}
.projects-svg .st9 {
  font-size: 2.6442px;
}
.projects-svg .st10 {
  fill: #D1D3D4;
}
.projects-svg .st11 {
  fill: #808285;
}
.projects-svg .st12 {
  fill: #302E2F;
}
.projects-svg .st13 {
  fill: #303539;
}
.projects-svg .st14 {
  font-size: 4.1874px;
}
.projects-svg .st15 {
  fill: #8C8E90;
}
.projects-svg .st16 {
  font-size: 3.2804px;
}
.projects-svg .st17 {
  fill: #00638A;
}
.github-svg .st113 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
