* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    font-size: 16px;
    color: #fff;
    padding-top: 30px;
}
small {
    font-size: 14px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    &:hover {
        color: darken(#fff, 10%);
    }
}
h1 {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 42px;
    margin: 5px 0 10px;

    @media @screen-xs {
        font-size: 27px;
    }
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 7px 10px;
    background: @gray;
    z-index: 100;


    .contact-links {
        float: right;
        font-family: 'Architects Daughter', sans-serif;

        a {
            display: inline-block;
            height: 20px;
            width: 20px;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 5px;
            margin-left: 5px;
        }

        .mail-svg {
            max-width: 70%;
            max-height: 100%;
            stroke-width: 2px;
            position: relative;
            top: -2px;
            overflow: visible;
            fill: none;
        }
        .github-svg {
            max-height: 74%;
            stroke-width: 2px;
        }
    }
}
.container {
    width: @screen-size-xl;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
section.gray {
    background: @gray;
}
section.blue {
    background: @blue;
}
section {
    position: relative;
    width: 100vw;
    overflow: hidden;
    padding: 40px 15px;
}
