body {
    font-family: sans-serif;
    margin: 0;
    font-size: 16px;
    color: #fff;
    padding-top: 30px;
}
small {
    font-size: 14px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    &:hover {
        color: darken(#fff, 10%);
    }
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 42px;
    margin: 5px 0 10px;

    @media screen and (max-width: @screen-sm) {
        font-size: 27px;
    }
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 7px 10px;
    background: @gray;

    nav {
        display: inline-block;
        margin-left: 15px;
        a {
            margin-right: 10px;
        }
    }
}

.container {
    max-width: @screen-xl;
    margin: 0 auto;
    position: relative;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
section.gray {
    background: @gray;
}
section.blue {
    background: @blue;
}
section {
    position: relative;
    width: 100vw;
    overflow: hidden;
    padding: 40px 15px;
}
